using './main.bicep'

param appName = 'homecoin'
param location = 'northeurope'
param postgresAdminPassword = readEnvironmentVariable('POSTGRES_ADMIN_PASSWORD', 'SetViaEnvVar')
param jwtSecret = readEnvironmentVariable('JWT_SECRET', 'SetViaEnvVar')
param superkitSecret = readEnvironmentVariable('SUPERKIT_SECRET', 'SetViaEnvVar')
param workerInternalToken = readEnvironmentVariable('WORKER_INTERNAL_TOKEN', 'SetViaEnvVar')
param minReplicas = 0
param maxReplicas = 2
